<div class="cls-lwd-app-page">
    <div class="cls-lwd-button-container">
        <button [matMenuTriggerFor]="ingredientMenu" mat-fab #tooltip="matTooltip" matTooltip="Manage ingredients"
            matTooltipHideDelay="100000" color="accent" aria-label="Manage Ingredients Label">
            <mat-icon matListItemIcon class="material-symbols-outlined">grocery</mat-icon>
        </button>
    </div>
    <div class="cls-lwd-button-container">
        <button [matMenuTriggerFor]="recipeMenu" mat-fab #tooltip="matTooltip" matTooltip="Manage Recipes"
            matTooltipHideDelay="100000" color="warn" aria-label="Manage recipe label">
            <mat-icon matListItemIcon class="material-symbols-outlined">dinner_dining</mat-icon>
        </button>
    </div>
</div>

<mat-menu #ingredientMenu="matMenu">
    <button mat-menu-item routerLink="ingredient/edit">
        <mat-icon matListItemIcon class="material-symbols-outlined">add_circle</mat-icon>
        <span>Add Ingredient</span>
    </button>
    <button mat-menu-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">search</mat-icon>
        <span>Search Ingredient</span>
    </button>
</mat-menu>
<mat-menu #recipeMenu="matMenu">
    <button mat-menu-item routerLink="recipe/edit">
        <mat-icon matListItemIcon class="material-symbols-outlined">add_circle</mat-icon>
        <span>Add Recipe</span>
    </button>
    <button mat-menu-item>
        <mat-icon matListItemIcon class="material-symbols-outlined">search</mat-icon>
        <span>Search Recipe</span>
    </button>
</mat-menu>
<app-lwd-app/>