.ingredient-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .cls-ingredient-image {
    height:10vh
  }
  .ingredient-header-image {
    background-size: cover;
  }
