@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@include mat.core();
@include mat.strong-focus-indicators();

// Define a dark theme
$varahamihir-dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$green-palette),
   accent: mat.define-palette(mat.$purple-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$varahamihir-light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$green-palette),
   accent: mat.define-palette(mat.$purple-palette),
 ),
));

// Apply the dark theme by default
@include mat.all-component-themes($varahamihir-light-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 @include mat.all-component-themes($varahamihir-light-theme);
}

.dark-theme {
  --color-primary: mat.get-color-from-palette(mat.$green-palette, default);
  --color-primary: mat.get-color-from-palette(mat.$green-palette, default-contrast);
}
.dark-theme {
  @include mat.all-component-themes($varahamihir-dark-theme)
}

