<mat-card>
    <mat-card-content>
        <div class="auth-container">
            <form #loginForm="ngForm" (ngSubmit)="onLogin()">
                @if (invalidLogin) {
                <mat-error>
                    The username and password were not recognized
                </mat-error>
                }
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="text" [formControl]="requiredControl" [(ngModel)]="username" name="username" required />
                    <mat-error>Please provide a valid username.</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" [formControl]="requiredControl" [(ngModel)]="password" name="password" required>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    <mat-error>Please provide a valid password.</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
            </form>
            </div>
        </mat-card-content>
</mat-card>