<mat-toolbar class="cls-toolbar mat-elevation-z3" color="primary">
    <button mat-icon-button (click)="sidenavCollapsed.set(!sidenavCollapsed())">
        <mat-icon  matListItemIcon class="material-symbols-outlined">menu</mat-icon>
    </button>
    <span>Varahamihir</span>
    <span class="cls-auto-spacer"></span>
    @if(!currentUser()) {

    <button mat-icon-button class="cls-toolbar-icon" aria-hidden="false" aria-label="Login" (click)="login()">
        <mat-icon matListItemIcon class="material-symbols-outlined">login</mat-icon>
    </button>
    }
    @else {

    <button mat-icon-button class="cls-toolbar-icon" aria-hidden="false" aria-label="User Icon"
        [matMenuTriggerFor]="menu">
        <mat-icon matListItemIcon class="material-symbols-outlined">account_circle</mat-icon>
    </button>
    }
    <app-theme-switch></app-theme-switch>
</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon matListItemIcon class="material-symbols-outlined">logout</mat-icon>
        <span>Logout</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
</mat-menu>
@if(currentUser()) {
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav [menuItems]="menuItems" [collapsed]="sidenavCollapsed()"/>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
}
