.cls-toolbar {
    width:100%;
}
.cls-toolbar-icon {
    padding: 0 14px;
}
.cls-auto-spacer {
    flex: 1 1 auto;
}
mat-toolbar {
    position:relative;
    z-index:5;
}
.content {
    padding:24px;
}
mat-sidenav-container {
    height: calc(100vh - 64px);
}
mat-sidenav, mat-sidenav-content {
    transition:all 500ms ease-in-out
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1
    'wght' 600,
    'GRAD' 0,
    'opsz' 16
  }
  .material-symbols-filled {
    font-variation-settings:
    'FILL' 1
  }
