.cls-custom-sidenav-header {

    padding-top: 24px;
    text-align: center;

    >img {
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
}

    .cls-custom-sidenav-header-text {
        height: 3rem;
        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        >p {
            margin: 0;
            font-size: 0.8 rem;
        }
    }
    .cls-custom-sidenav-header-text-hidden {
        opacity: 0;
        height: 0px !important;
    }
    .menu-item {
        border-left: 5px solid;
        border-left-color: rgba(0,0,0,0);
    }
    .selected-menu-item {
        background: rgba(0,0,0,0.05);
    }
}
:host * {
    transition: all 500ms ease-in-out;
}
.material-symbols-outlined {
  font-variation-settings:
  'wght' 600,
  'GRAD' 0,
  'opsz' 16
}
.material-symbols-filled {
  font-variation-settings:
  'FILL' 1
}
