<div class="cls-custom-sidenav-header">
    @if (currentUser()) {

    <img [src]="currentUser()?.profilePicture" [width]="profilePicSize()" [height]="profilePicSize()" />
    <div class="cls-custom-sidenav-header-text" [class.cls-custom-sidenav-header-text-hidden]="sidenavCollapsed()">
        <h2>{{currentUser()?.username}}</h2>
    </div>
    <mat-nav-list>
        @for (item of menuItems; track item) {

            <a class="menu-item" mat-list-item 
            [routerLink]="item.route" 
            routerLinkActive="selected-menu-item" 
            [routerLinkActiveOptions]="{exact: true}"
            #rla="routerLinkActive" 
            [activated]="rla.isActive">
                @if(!sidenavCollapsed()) {

                    <span matListItemTitle> {{item.label}}</span>
                }
                <mat-icon matListItemIcon class="material-symbols-outlined" [ngClass]="{'material-symbols-filled':rla.isActive}">{{ item.icon }}</mat-icon>
            </a>
            }
    </mat-nav-list>
    }
</div>