.cls-ingredients {
    height:max-content;
    justify-content: stretch;
    width: 100%;
    align-items: center;
}
.cls-ingredientEntity-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    gap: 1em;
}
