
.ingredientEntity-image {
  width: 20vh
}

.ingredientEntity-editor-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}

.cls-ingredientEntity-header-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  width: 100%;
}

.cls-ingredientEntity-header-block-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cls-ingredientEntity-header-block-image {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  gap: 2em;
  margin: auto
}
.cls-ingredientEntity-header-unit-type-selection {

  display: flex;
  flex-direction: row;
  align-items: normal;
  width: fit-content;
}
.cls-ingredientEntity-unit-type-conversion {
  display:flex;
  flex-direction: row;
  gap:1em;
}
.cls-ingredientEntity-header-unit-conversion {
  gap:1em;
}
.cls-ingredientEntity-header-block-quantity {
  display: flex;
  flex-direction: row;
  align-items: normal;
  width: fit-content;
  gap:1em;
}

.ingredientEntity-unit-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.cls-ingredientEntity-nutrition-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.cls-ingredientEntity-nutrition-primary-block {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.cls-ingredientEntity-nutrition-block-title {
  width: 100%;
}

.cls-ingredientEntity-nutrition-secondary-block {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 40vw;
  margin: auto
}

.cls-ingredientEntity-nutrition-items-indent-1 {
  padding-left: 5%;
}
.cls-ingredientEntity-input-number {
  width:5em
}
.cls-action-block {
  display:flex;
  flex-direction: row;
  gap: 1em;
}
