.cls-nutrition-table {
    width:80%;
    font-size:1em;
}
.cls-nutrition-row-border-10px-below {
    border-bottom: solid gray 10px;
}
.cls-nutrition-row-large-text {
    font-size: 1em;
}
.cls-nutrition-colspan-2 {
    column-span: 2;
}
.cls-nutrition-border {
    border-bottom: solid gray 1px;
}
.cls-nutrition-border-4 {
    border-bottom: solid gray 4px;
}
.cls-nutrition-indent-4 {
    padding-left: 4em;
}
