.cls-lwd-app-page {
  display: flex;
  flex-direction: row;
  float: right;
}

.cls-lwd-button-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 16
}

.material-symbols-outlined {
  font-variation-settings:
    'wght' 600,
    'GRAD' 0,
    'opsz' 16
}

